body {
    background-color: lightblue;
    margin: 50px 100px;
}

#general-info > input {
    display: block;
    margin-bottom: 20px;
}

#simptoms > input {

}

#result{
    color: red;
}

#submitButton {
    display: block;
    margin-top: 20px;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}

#submitButton:hover {
    background-color: green;
}